<div class="text-center game-icon">
 <%= link_to pieces_path do %>
   <%= image_tag asset_path("pieces_icon.png"), height: 150, width: 150, alt: "pieces image" %>
   <div>ピース集めの旅</div>
 <% end %>
</div>
