/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 img {
  object-fit: cover;
}

 .chat-container {
  display: flex;
  flex-direction: column;
  height: 81vh;
  background-color: #deecf3;
}

.chat-topbar {
  display: flex;
  align-items: right;
  justify-content: center;
  color: #050000;
  height: 50px;
  padding: 0 20px;
}

.chat-partner-name {
  font-size: 1.5em; 
  font-weight: bold; 
}

.chat-messages {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-sender {
  margin-bottom: 5px;
  font-size: 0.8em;
  color: #666;
}

.message-body {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.self .message-body {
  align-self: flex-end;
  background-color: #4ec4fa;
  color: #fff;
}

.other .message-body {
  align-self: flex-start;
  background-color: #d5d4d4;
  color: #333;
}

.chat-form {
  background-color: #ffffff;
  padding: 20px;
}

.chat-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.chat-form input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #e0e5f1;
}

.chat-form input[type="submit"] {
  flex: 0 0 auto;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #f7ffa4;
  color: #00ff08;
  cursor: pointer;
}


.body {
  background-color: #f5f5f5;
  margin-bottom: 70px;
}
.header {
  background-color: #34ecec;
  color: #021a32;
  text-align: left;
  padding: 20px 20px;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-bottom: 10px;
}

.header-logout {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 0.6em;
}

.button-wrapper {
  margin-bottom: 10px;
}
.register-button {
  margin-top: 20px;
}
.footer-icons {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #ddd;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.footer-icons .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  height: 100%;
}
.footer-icons img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 70vh;
  margin: 0; /* マージンを削除 */
  padding-top: 20px; /* 上部のパディングを減らす */
}

.centered-container h1 {
  margin-bottom: 20px; /* 下部のマージンを減らす */
}

.centered-container .btn,
.centered-container form {
  width: 100%;
  max-width: 300px;
}

.centered-container form .actions {
  display: flex;
  justify-content: center;
}

.chat-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.chat-icon img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.chat-details {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.chat-details h2 {
  margin: 0;
  margin-right: 10px;
}

.unread-count {
  position: relative;
}

.unread-number {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.centered-container {
  text-align: center;
}

.matched-user {
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
}

.matched-user img {
  border-radius: 50%;
}

.matched-user .btn {
  width: 90%; 
}

.chat-list {
  margin: 1em;
}

.chat-item-link {
  text-decoration: none;
  color: inherit;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

.user-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1em;
}

.user-info {
  flex-grow: 1;
}

.unread-count {
  margin-left: auto;
  margin-right: 1em;
}

.unread-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.game-icon {
  margin-top: 40px; 
}

.spacing-large {
  margin-bottom: 5px;
}

.spacing-top {
  margin-top: 40px;
}

.spacing-between {
  margin-top: 20px;
  margin-bottom: 100px;
}

.piece-container {
  border: 1px solid #ccc; 
  padding: 10px; 
  border-radius: 5px; 
  margin-bottom: 20px; 
  display: inline-block; 
  width: 180px; 
}

.piece-name {
  margin-top: 10px;
}