<footer class="footer-icons">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 text-center">
        <%= link_to myrooms_path do %>
          <img src="/assets/chat.png" alt="" class="img-fluid">
        <% end %>
      </div>
      <div class="col-3 text-center">
        <%= link_to root_path do %>
          <img src="/assets/map.png" alt="" class="img-fluid">
        <% end %>
      </div>
      <div class="col-3 text-center">
        <%= link_to games_path do %>
          <img src="/assets/game.png" alt="" class="img-fluid">
        <% end %>
      </div>
      <div class="col-3 text-center">
        <%= link_to user_path(current_user) do %>
          <img src="/assets/profile.png" alt="" class="img-fluid">
        <% end %>
      </div>
    </div>
  </div>
</footer>
