<% if user_signed_in? %>
  <header>
    <div class="header">GeoChat
     <div class="header-logout">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
     </div>
    </div>
  </header>
<% else %>
  <header class="header">GeoChat</header>
<% end %>
